.container {
  padding: 0;
}
.main {
  min-height: 100vh;
 
}
.header {
  height: 90px;
  display: block;
  padding: 20px 30px;
  box-sizing: border-box;
}
.header .learn {
  margin: -40px 20px 0;
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}
.header a:hover {
  color: blue;
}
.search {
  border: 1px solid #c9c9c9;
    border-radius: 20px;
    height: 36px;
    padding: 0 20px;

}
.menu_tab {
  float: right;
  width: 35%;
}
.tab01 {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-left: 30px;
  background: url('/icon_tab_on_01.svg') center 100% no-repeat;
}
.tab02 {
  height: 40px;
  display: inline-block;
  width: 40px;
  margin-left: 30px;
  background: url('/icon_tab_on_02.svg') center 100% no-repeat;
}
.tab03 {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-left: 30px;
  background: url('/icon_tab_on_03.svg') center 100% no-repeat;
}
.firstBlock {
  background-image: url("/main_top_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 60vh;
  
  display: block;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  position: relative;

}
.firstBlockText {
  position: absolute;
  top: 40%;
  left: 72%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}





