.container {
  padding: 0;
}
.main {
  min-height: 100vh;
 
}
.header {
  height: 90px;
  display: block;
}
.firstBlock {
  background-image: url("/main_top_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 60vh;
  
  display: block;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  position: relative;

}
.firstBlockText {
  position: absolute;
  top: 40%;
  left: 75%;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}





