@font-face {
  font-family: "MyWebFontBlack";
  src: url("/fonts/NotoSerifCJKkr-Black.woff") format("woff");
}
@font-face {
  font-family: "MyWebFontBold";
  src: url("/fonts/NotoSerifCJKkr-Bold.woff") format("woff");
}
@font-face {
  font-family: "MyWebFontSCMediun";
  src: url("/fonts/NotoSerifSC-Medium.woff") format("woff");
}
@font-face {
  font-family: "MyWebFontSCLight";
  src: url("/fonts/NotoSerifSC-Light.woff") format("woff");
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.container {
  padding: 0;
}
.main {
  min-height: 80vh;
}
.header {
  height: 90px;
  display: block;
  padding: 20px 30px;
  box-sizing: border-box;
}
.header .learn {
  margin: -34px 20px 0;
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  font-family: 'GmarketSansLight';

  color: #333;
}
.header a:hover {
  color: blue;
}  
.menu_tab img {
  margin-right: -40px;
  position: relative;
  z-index: 100;
  top: -1px;
}
.search_input {
  position: relative;
  z-index: 1;
  border: 1px solid #c9c9c9;
  border-radius: 20px;
  height: 36px;
  width: 240px;
  padding: 0 20px 0 50px;
  vertical-align: text-bottom;
  outline: none;
}
.menu_tab {
  float: right;
  width: 35%;
  text-align: right;
}
.tab01,
.tab02,
.tab03 {
  height: 40px;
  width: 40px;
  vertical-align: sub;
  display: inline-block;
  margin-left: 30px;
}
.tab01 {
  background: url("/icon_tab_off_01.svg") center 100% no-repeat;
}
.tab01:hover {
  background: url("/icon_tab_on_01.svg") center 100% no-repeat;
}
.tab02 {
  background: url("/icon_tab_off_02.svg") center 100% no-repeat;
}
.tab02:hover {
  background: url("/icon_tab_on_02.svg") center 100% no-repeat;
}
.tab03 {
  background: url("/icon_tab_off_03.svg") center 100% no-repeat;
}
.tab03:hover {
  background: url("/icon_tab_on_03.svg") center 100% no-repeat;
}
.wrapFirstBlock {
  width: 100%;
  height: 745px;
  background-image: url(/main_top_bgline.jpg);
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 100% 1px;
}
.firstBlock {
  background-image: url("/main_top_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 743px;
  border-top: 1px solid #000;

  position: relative;
}
.firstBlockText {
  position: absolute;
  top: 57%;
  left: 73%;
}
.firstBlock h3 {
  font-size: 28px;
  font-weight: 400;
  margin: 10px 0;
}
.firstBlock p {
  font-size: 18px;
  line-height: 1.3;
  font-family: "MyWebFontBlack", sans-serif;
}
.firstBlock span {
  color: #ffa300;
  font-size: 12px;
  display: block;
  line-height: 5px;
}
.slider h2 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: 'GmarketSansMedium';
}
.sliderWraper {
  height: auto;
  width: 80%;
  margin: 50px auto;
  position: relative;
}
.bodySlider {
  height: auto;
  display: flex;
  justify-content: space-between;
}
.sliderBtnPrev,
.sliderBtnNext {
  position: absolute;
  border: none;
  top: 40%;
  height: 60px;
  width: 60px;
  left: -2%;
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("/slider_prev_btn.svg");
}
.sliderBtnPrev:hover {
  background-image: url("/slider_prev_btn_hv.svg");
  opacity: 1;
}
.sliderBtnNext {
  left: 97%;
  background-image: url("/slider_next_btn.svg");
}
.sliderBtnNext:hover {
  background-image: url("/slider_next_btn_hv.svg");
  opacity: 1;
}

.itemSlider {
  height: 40vw;

  width: 32%;
}
.itemSliderImage {
  outline-offset: 3px;
  outline: 1px solid #ddd;
  background-size: 100% auto;
  border-radius: 10px;
  background-position: center top;
  background-repeat: no-repeat;
  height: 60%;
  margin-bottom: 40px;
}
.itemSlider p:first-of-type {
  font-size: 26px;
  margin: 15px;
  font-family: 'GmarketSansMedium';
  font-weight: 400;
}
.itemSlider p:last-of-type {
  font-size: 20px;
  opacity: 0.7;
  margin: 15px;
  font-family: 'GmarketSansLight';
}
.itemSlider .img {
  margin: 15px;
}

.footer {
 
  padding: 2rem 0;
  background-color: #f9f9f9;
  text-align: center;
  border-image: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 255, 1) 10%,
    rgba(0, 0, 255, 1) 20%,
    rgba(0, 255, 0, 1) 30%,
    rgba(255, 255, 0, 1) 40%,
    rgba(255, 0, 0, 1) 50%,
    rgba(255, 255, 0, 1) 60%,
    rgba(0, 255, 0, 1) 70%,
    rgba(0, 0, 255, 1) 80%,
    rgba(255, 0, 255, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  border-image-slice: 1;
  border-bottom: 1px solid #333;
}
.footerIconText {
  font-size: 34px;
  font-family: "GmarketSansMedium";
  font-weight: 400;
  margin: 10px 0;
  letter-spacing: 2px;
}
.footerText {
  font-size: 24px;
  font-family:  "MyWebFontSCMediun", sans-serif;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
